<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VueTV</title>

    <script src="https://vuetv.acmoore.co.uk/js/vue-bundle.js"></script>
    <script src="app.js" defer></script>
</head>

<body id="background">
<div id="app">
    <div>
        <form v-on:submit.prevent="searchVideos">
            <input type="text" placeholder="Search Video" v-model="search">
            <button type="submit">Search</button>
        </form>

        <ul>
          <li v-for="(videoComp, index) in results" >
            {{ videoComp.title }}
            <button @click="firstInCue(videoComp, index)" >Play this one</button>
            <button @click="cueVideo(videoComp)" >queue</button>
          </li>
        </ul>

        <ul>
          <button @click="clearAll">clear all</button>
          <li v-for="(videoComp, index) in queue" v-on:remove="queue.splice(index, 1)">
            {{ videoComp.title }}
            <button @click="moveDown(videoComp, index)" >moveDown</button>
            <button @click="moveUp(videoComp, index)" >moveUp</button>
            <button @click="firstInPlay(videoComp, index)" >Play this one</button>
            <button @click="removeVideo(index)">remove</button>
          </li>
        </ul>

        <youtube :video-id="video_id" :player-vars="playerVars" :nocookie="true"
                  style="height: 30rem; width: 60rem; "
                  ref="youtube"
                  @ended="ended"
                  @error="error(index)"
        ></youtube>


        <nav>
            <button @click="playVideo">play</button>
            <button @click="pauseVideo">pause</button>
            <button @click="nextVideo">next</button>
            <button @click="previousVideo">previous</button>
            <button @click="increaseVolume">increase volume</button>
            <button @click="decreaseVolume">decrease volume</button>
        </nav>
    </div>

</div>

</body>
<!---<script>
  var i = 0;
  function change() {
    console.log("change");
    var doc = document.getElementById("background");
    var color = ["black", "blue", "brown", "green"];
    doc.style.backgroundImage = 'linear-gradient('
          + color[i] + ', ' + color[i+1] + ')';
    i = (i + 1) % color.length;

  }
  setInterval(change, 1000);
</script>-->
</html>
