<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VueTV</title>

    <script src="https://vuetv.acmoore.co.uk/js/vue-bundle.js"></script>
    <script src="app.js" defer></script>
</head>

<body>
<div id="app">
    <div>
        <form v-on:submit.prevent="searchVideos">
            <input type="text" placeholder="Search Video" v-model="search">
            <button type="submit">Search</button>
        </form>

        <ul>
          <li v-for="(value, title) in object" v-bind:title="object.title" v-bind:key="object.video_id">
              {{ value.title }}
              <button @click="cueVideo">queue</button>
          </li>
        </ul>

        <ul>
          <li is="queue-item" v-for="(value, index) in queue" v-bind:key="queue.video_id" v-bind:title="queue.title" v-on:remove="queue.splice(index, 1)">
          </li>
        </ul>

        <youtube :video-id="video_id" :player-vars="playerVars" :nocookie="true"
                  style="height: 30rem; width: 60rem; "
                  ref="youtube"
                  @ended="ended"
        ></youtube>


        <nav>
            <button @click="playVideo">play</button>
            <button @click="pauseVideo">pause</button>
            <button @click="nextVideo">next</button>
            <button @click="previousVideo">previous</button>
            <button @click="cueVideo">queue</button>
            <button @click="loadVideo">load</button>
        </nav>
    </div>

</div>

</body>
</html>
